<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<h1>Search blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<table border="2px" th:width="400px">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Content</td>
        <td>Category</td>
        <td>Date</td>
    </tr>

    <tr th:each="blog,rowStat : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.category.name}"></td>
        <td th:text="${blog.createDate}"></td>
        <td><a th:href="@{/view-blog/__${blog.id}__}">detail</a></td>
        <td><a th:href="@{/edit-blog/__${blog.id}__}">edit</a></td>
        <td><a th:href="@{/delete-blog/__${blog.id}__}">delete</a></td>

    </tr>
</table>
</center>
</body>
</html>